html, body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
}._422dbf5e {
      width: 100%;
      background-color: #535351;
      height: 50px;
    }

    ._422dbf5e h1 {
      font-size: 18px;
      line-height: 1;
      margin: 0px 0px 0px 0px;
      display: inline-block;
      font-weight: 500;
    }

    ._422dbf5e h1 a {
      text-decoration: none;
      color: #f3f3f1;
    }

    ._422dbf5e .app-org-title {
      display: block;
      float: left;
      padding: 0px 10px;
      height: 50px;
      line-height: 50px;
      background-color: rgb(243, 73, 83);
      color: #eee;
    }

    ._422dbf5e .app-project-title {
      display: block;
      float: left;
      padding: 0px 10px;
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }._ac41fe1f {
      width: 40%;
      height: calc(100% - 50px);
      float: right;
      overflow-y: auto;
      border-left: 1px solid #ccc;
      background-color: #f3f3f1;
      position: absolute;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      padding: 20px 50px;
    }._03072890 {
      height: calc(100% - 50px);
      overflow: hidden;
      float: left;
    }

    ._03072890 #map {
      height: 100%;
    }._385d7b27 {
      height: 100%;
    }._68b5a2e7 {
      height: 100%;
    }

    ._68b5a2e7 .landing-search {
      width: 500px;
      height: 300px;
      background-color: #fff;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
      position: fixed;
      top: calc(50% - 150px);
      left: calc(50% - 250px);
      padding: 30px 50px;
      box-sizing: border-box;
    }

    ._68b5a2e7 .landing-search-title {
      text-align: center;
      font-weight: 500;
    }

    ._68b5a2e7 .landing-search-description {
      font-size: 90%;
    }